build/
server/
*.mrpack

forge-*-installer.jar
mrpack-install-windows.exe
mrpack-install-linux
reference/
old-docs/
python-tools/chapters
python-tools/chapters-original

# remove client config
.pakku/overrides/config/*client.toml
.pakku/overrides/config/*client.json